/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

.container {
  /* position: relative; */
  max-width: 440px;
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
}

.container .input-box {
  position: relative;
  height: 65px;
}

.input-box input {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* outline: none; */
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 22px;
  padding: 0 35px 0 18px;
  transition: all 0.2s linear;
}

input:focus, input:valid {
  border-color: #4070f4;
}

.input-box label, .input-box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: all 0.2s linear;
}

.input-box label {
  left: 18px;
  pointer-events: none;
  font-size: 22px;
  /* font-weight: 400; */
}

.input-box i {
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

input:focus~label, input:valid~label {
  color: #4070f4;
  top: 0;
  font-size: 12px;
  font-weight: 500;
  background-color: #fff;
}

input:focus~i, input:valid~i {
  color: #4070f4;
}
